body{
   background-color: black;
   /*background: linear-gradient(0deg, rgba(255,255,255,0) 53%, rgba(0,47,248,1) 100%);*/
}

.container{
    max-width: 80%;
    margin: 6%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.logoKenzieFlix{
    width: 339px;
}

.tituloPerfil{
    margin-top: 25px;
    color: white;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

section{
    max-width: 700px;
    display: flex;
    grid-gap: 18px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}


.boxPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 160px;
    font-weight: bolder;
    transition: 0.3s ease;
}

.boxPerfil img{
    border: none;
    border-radius: 5px;
}

.boxPerfil:hover {
    transform: scale(1.1);
    border-image: 1px solid white;
    border-radius: 5px;
    color: white;
}



.boxPerfil p{
    margin-top: 15px;
    color: rgb(155, 155, 155);
}

.botaoGerenciar{
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 13px;
    width: 200px;
    margin-top: 40px;
    transition: 0.3s ease;
}

.botaoGerenciar:hover{
    background-color: white;
    color:black;
    font-weight: bolder;
}